<a href="https://colab.research.google.com/github/mfatima1010/Regression-Problem/blob/main/salary_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Step 1: import libraries
import pandas as pd

In [ ]:
#Step 2: import data
salary =pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Salary%20Data.csv')

In [ ]:
salary.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [ ]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 768.0 bytes

In [ ]:
salary.describe()

       Experience Years         Salary
count         40.000000      40.000000
mean           5.152500   74743.625000
std            2.663715   25947.122885
min            1.100000   37731.000000
25%            3.200000   56878.250000
50%            4.600000   64472.500000
75%            6.875000   95023.250000
max           10.500000  122391.000000

In [ ]:
salary.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [ ]:
#Step 3 : Define(y) and features (x)

y=salary['Salary']
x=salary[['Experience Years']]

In [ ]:
salary.shape

(40, 2)

In [ ]:
x.shape

(40, 1)

In [ ]:
y.shape

(40,)

In [ ]:
#Step 4 : TRAIN TEST SPLIT

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test= train_test_split(x,y,train_size=0.7,random_state=0)
x_train

    Experience Years
37               9.6
2                1.3
39              10.5
30               7.1
34               8.7
16               4.0
36               9.5
8                3.0
13               3.8
5                2.2
17               4.1
14               3.9
33               8.5
7                2.9
32               8.2
1                1.2
26               6.0
12               3.7
31               7.9
24               5.5
6                2.5
23               5.3
21               4.9
19               4.5
9                3.2
38              10.3
3                1.5
0                1.1

In [ ]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((30, 1), (10, 1), (30,), (10,))

In [ ]:
x_train

In [ ]:
#step 5: select model(predictive modeling)
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [ ]:
#STEP 6 : TRAIN MODEL (fit model)
#this is where m/c learning comes into picture
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
model.intercept_

26187.058519448474

In [ ]:
model.coef_

array([9547.52492378])

In [ ]:
#STEP :7 Prediction 
y_pred =model.predict(x_test)

In [ ]:
#Step:8 Accuracy
from sklearn.metrics import mean_absolute_percentage_error

In [ ]:
mean_absolute_percentage_error(y_test,y_pred)

0.07151063737764411